    /* CSS Reset */
    html {
        box-sizing: border-box;
        font-size: 16px;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
    }

    ol,
    ul {
        list-style: none;
    }

    img {
        max-width: 100%;
        height: auto;
        /* In my opinion there one situation that border-box isn’t welcome by default: img.
Try to add a border to img with “box-sizing: border-box”. The image is resized. */
        box-sizing: content-box;
    }

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 0 auto;
    }

    .avatar {
        width: 200px;
        height: 200px;
        border-radius: 99%;
        border: 8px solid;
        border-color: #ccc;
    }

    .avatar:hover {
        border-color: #ddd;
    }

    form {
        margin: 1rem;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    form input {
        height: 2rem;
        width: 100%;
    }

    form label {
        margin-top: 1rem;
        font-weight: bold;
    }

    form button {
        margin-top: 1rem;
        padding: 1rem 2rem;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .age__container {
        padding: .75rem;
        font-size: 1.25rem;
        line-height: 1.25;
        display: none;
    }

    .border_green{
        border-color: green;    
    }
    
    .border_green:hover{
        border-color: green;    
    }

    .border_red{
        border-color: red;    
    }

    .border_red:hover{
        border-color: red;    
    }